/* Authorization.css */


.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}


label {
  font-weight: bold;
}

.error-message {
  color: red;
}

.login-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:rgb(196, 183, 44); 
}


/* 
.authentication-form {
  margin: 10px; 
  padding: 20px;
} */


.form-label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: rgb(196, 183, 44); 
}


.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px; 
}


.form-button {
  margin-top: 10px;
  color: white;
  background-color: gray;
  border: none;
  border-radius: 5px;
  padding: 6px 20px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

/* Style the button on hover */
.form-button:hover {
  background-color: #0056b3; 
}


.auth-toggle-button {
  color: white;
  background-color: gray;
  border: none;
  border-radius: 5px; 
  padding: 8px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; 
}

/* Style the second button on hover */
.auth-toggle-button:hover {
  background-color: #1e7e34; 
}


/* Style the wrapper div for error messages and toggle button */
.auth-errors-switch-wrapper {
  margin-top: 20px; 
}






.bottom-question{
  color:rgb(196, 183, 44); 
}
